@model AdvisingFormsDatabase.ViewModels.AddCourseViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCourseVM</title>
</head>
<body>
    <div> 
        <p>Name: @Model.Student.FirstName @Model.Student.LastName</p>
        <p>W#: @Model.Student.WNumber</p>
    </div>

    <div>
        <p>Select the Courses You Have Taken</p>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
    <div>
        <table>
            <tr>
                <th>Course</th>
                <th>Department</th>
                <th>Number</th>
                <th>Check if Taken</th>
                <th>Semester</th>
                <th>Grade</th>
            </tr>
            @foreach(var course in Model.AvailCourses)
            {
                var takenCourse = new AdvisingFormsDatabase.Models.Course();
                takenCourse.BaseCourse = course;
                takenCourse.Student = Model.Student;
                Model.PossibleCourses.Add(takenCourse);
                
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Department</td>
                    <td>@course.CourseNumber</td>
                    <td>@Html.CheckBoxFor(s => takenCourse.Selected)</td>
                    <td>@Html.TextBoxFor(s => takenCourse.Semester)</td>
                    <td>@Html.EditorFor(g => takenCourse.Grade)</td>
                </tr>
            }
        </table>
        <input type="submit" value="Add Classes Taken" class="btn btn-default" />
    </div>
    }
</body>
</html>
