@model AdvisingFormsDatabase.Models.Student

@*@{
    ViewBag.Title = "Recommendation";
}*@


<h2>Recommendation</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Department
            </th>
            <th>
                coursenumber
            </th>
            <th>
               credithours
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.StudentConcentration.RequiredCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditHours)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                    @Html.ActionLink("Recommendation", "Recommendation", new { id = item.ID })

                </td>
            </tr>
        }

    </table>
